@charset "UTF-8";

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 40px 1fr 40px;
    grid-template-columns: 1fr 300px;
    gap: 5px;
}

.caixa {
    background-color: lightsteelblue;
    padding: 10px;
    text-align: center;
}

#topo {
    grid-row: 1 / 2;
    grid-column: 1 / -1;

    border: 3px solid blue;
}

#menu {
    grid-row: 2 / 2;
    grid-column: 1 / -1;

    border: 3px solid rgb(0, 195, 255);
}

#principal {
    grid-row: 3 / 3;
    grid-column: 1 / 2;

    border: 3px solid rgb(0, 255, 200);
}

#secundario {
    grid-row: 3 / 3;
    grid-column: 2 / -1;

    border: 3px solid rgb(51, 255, 0);
}

#rodape {
    grid-row: 4 / 4;
    grid-column: 1 / -1;

    border: 3px solid rgb(229, 255, 0);
}