@charset "UTF-8";

/*
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/

:root {
    --cor1: #c5ebd6;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;
}

body {
    background-color: #c5ebd6;
}

header > h1 {
    color: #2fa866;
}

main h1 {
    color: #1a5c37;
}
